.cust-bg-header{
    background-image: url(images/headerbg.png);
    background-size: cover;
}
main{
    background-color: #f3f7ff;
}
.affiliations{
    margin-top: 30px;
    margin-bottom: 100px;
}
.benefits{
    margin-top: 50px;
    margin-bottom: 100px;
}
.cust-bg-footer{
    background-color: #043CAA;
}
